.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.container-navigation {
  list-style-type: none;

  justify-content: space-between;

  padding: 24px 12px;
  border-bottom: 32px solid #35c4ff;

  margin: 0px;
}