.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #35c4ff;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  right: 54px;
  margin-top: 12px;
  padding: 2px 8px;
}

.hidden {
  display: none;
}

.container-navigation {
  list-style-type: none;

  margin: 0px;
  padding: 0px;
}

.site-title {
  text-align: center;
  margin: 24px 0px;
}

.site-nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #35c4ff;

  margin: 12px 0px;
  padding: 12px 72px;
}

.nav-bar-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  color: white;

  padding: 6px;
}

.profile-button {
  font-size: 26px;
  width: 60px;
  background-color: transparent;
  border: none;
  color: white;
  margin: -4px;
}

.nav-bar-link:hover, .profile-button:hover {
  background-color: #0054a6;
  transition: 300ms;
}

.login-button, .signup-button {
  background-color: transparent;
  color: white;
  border: none;

  font-size: 20px;
  /* font-weight: bold; */
  font-family: 'League Spartan', Arial, Helvetica, sans-serif;

  padding:4px;
}

.login-button:hover, .signup-button:hover {
  text-decoration: underline;
}