.container-slides {
    max-width: 1000px;
    margin: auto;
}

.homeSlides {
    display: none;
}

.slide-prev, .slide-next {
    cursor: pointer;
}

.slideshow {
    margin: 12px auto;
    overflow: hidden;
    max-width: 500px;
}

.slider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;

    height: 400px;
    width: 100%;
}

.slideshow-marks {
    text-align: center;
}

.mark {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.active {
    background-color: #6a0dad;
}