.container-slides {
    max-width: 1000px;
    margin: auto;
}

.slideshow {
    margin: 0px auto;
    overflow: hidden;
    max-width: 500px;
}

.slider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;

    height: 400px;
    width: 100%;
}

.slideshow-marks {
    text-align: center;
}

.mark.active {
    background-color: #6a0dad;
}

.mark {
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}
