.signup-page-title {
    text-align: center;
}

.signup-page-form {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.signup-page-input-container {
    margin-top: 12px;
}

.signup-page-submit {
    width: 84px;
    padding: 6px;
    margin: auto;
    margin-top: 20px;

    border: none;
    background-color: #ff9727;
    color: white;

    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.signup-label-email {
    margin-left: -134px;
}

.signup-label-username {
    margin-left: -106px;
}

.signup-label-password {
    margin-left: -108px;
}

.signup-label-confirmpassword {
    margin-left: -52px;
}

